body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* center section */

.title {  
	text-align: center;
	font-size : 16px;
	margin-bottom: 50px;
	font-weight: bold;

    }

/*  top.jsp */
	#top {
		background: #4682B4; 
	}
	#top a {
		text-transform:none;
		text-decoration:none;
	} 
	#top a:hover {
		text-decoration:underline;
	}
	
/* left.jsp */
		#left {
			background: #87CEFA; 
			margin: 3px; 
			padding: 3px;
		}
		#left a {
			text-decoration: none;
		}
		
		
/*  sidebar */
/*
 * Sidebar
 */

/* Hide for mobile, show later */

  .sidebar {


    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }



/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
